#primeiro-titulo{
	color: rebeccapurple;
	font-size: 60px;
	
}
/* primeiro comentarios */
.paragrafo{
	color:#0000FF;
}
/*um comentarios
em 
linhas


*/
#segundo-titulo{
	color:  rgb(88, 206, 88);
}